* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
  transition: all 0.2s ease;
}

@font-face {
  font-family: 'digital';
  src: url(/fontz/Technology.ttf);
}

/* font-family: 'Bungee', cursive; */
nav {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  font-size: 18px;
}
a{
  text-decoration: none;
  color: steelblue;
}

#mode {
  cursor: pointer;
  color: steelblue;
}

#mode:hover {
  transform: scale(1.1);
  transition: all 0.6s ease;
}

#otherwidgets div:hover {
  transform: scale(1.1);
  transition: all 0.6s ease;
}

#otherwidgets {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-basis: 20%;
}
.container {
  margin: 10px auto;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-rows: 130px 100px;
}
section {
  margin: 100px auto;
  width: 100%;
  height: 60vh;
}
#theTimer{
  text-align: center;
}


.timerCont2{
  width: 100%;
  height: 100%;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  font-family: digital;
}

span{
  font-family: digital;
}

#min, #sec{
  color: steelblue;
}

#milisec{
  color: rgb(124, 173, 214);
}

.button {
  display: flex;
  justify-content: space-evenly;
}

.button1 {
  height: 70px;
  width: 110px;
  border: none;
  border-radius: 40px;
  color: white;
  background-color: steelblue;
  font-size: 18px;
}

.button1:hover {
  font-size: 20px;
}

.stop, .reset, .play {
  display: none;
}


.nightMode {
  color: #fefefe;
  background-color: black;
  background-image: none;
}
.nightModeOB{
  color: black;
}


@media (max-width:1050px) {
  nav {
    padding: 20px;
    font-size: 18px;
  }

  #otherwidgets {
    flex-basis: 35%;
  }
}

@media (max-width:460px) {
  nav {
    padding: 15px;
    font-size: 12px;
  }

  #otherwidgets {
    flex-basis: 45%;
    justify-content: space-between;
  }

  .button1 {
    height: 60px;
    width: 90px;
    font-size: 16px;
  }

  .button1:hover {
    font-size: 18px;
  }

  .timerCont2 {
    font-size: 60px;
  }
  
}

